astroid==2.4.2
async-lru==1.0.2
autopep8==1.5.4
beautifulsoup4==4.9.2
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coinbase==2.1.0
coinpayments-py==0.1.0
colorama==0.4.3
Flask==1.1.2
idna==2.10
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
jsonrpc==1.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector==2.2.9
pyaes==1.6.1
pycodestyle==2.6.0
pycompilation==0.4.11
pycryptodome==3.9.8
pylint==2.6.0
Pyrogram==1.0.7
PySocks==1.7.1
pyTelegramBotAPI==3.7.3
python-bitcoinrpc==1.0
requests==2.20.0
schedule==0.6.0
six==1.15.0
soupsieve==2.0.1
telebot==0.0.3
TgCrypto==1.2.1
toml==0.10.1
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
